<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>GirlsPower!</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link rel="stylesheet" type="text/css" href="/graph.css"/>
</head>
<body>
<div th:insert="fragments/navbar :: header"></div>
<br>
<h5>Статистика за всё время пользования сервисом (туду потом допилить возможность временных промежутков)</h5>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
           role="tab" aria-controls="home" aria-selected="true">
            График веса
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
           role="tab" aria-controls="profile" aria-selected="false">
            График индекса массы тела
        </a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <figure class="highcharts-figure">
            <div id="graph" class="mx-5"></div>
            <!--    Don't remove, it's work only here...-->
            <script th:inline="javascript">
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'graph'
                },

            title: {
                text: 'Вес'
            },

            subtitle: {
                text: ''
            },

            yAxis: {
                title: {
                    text: 'Weight'
                }
            },

            xAxis: {
                categories: [[${dates}]]
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    }
                }
            },

            series: [{
                name: 'Weight',
                data: [[${weights}]]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
            </script>
        </figure>
    </div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <figure class="highcharts-figure">
            <div id="graphBMI" class="mx-5"></div>
            <!--    Don't remove, it's work only here...-->
            <script th:inline="javascript">
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'graphBMI'
                },

            title: {
                text: 'Индекс массы'
            },

            subtitle: {
                text: ''
            },

            yAxis: {
                min: 0,
                max: 50,
                tickInterval: 10,
                title: {
                    text: 'Body mass index'
                }
            },

            xAxis: {
                categories: [[${dates}]]
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    }
                }
            },

            series: [{
                name: 'Body mass index',
                data: [[${BMI}]],
                color: {
                linearGradient: [0, 0, 0, 500],
                stops: [
                    [0, 'red'],
                    [0.34, 'yellow'],
                    [0.43, 'green'],
                    [0.55, 'yellow'],
                    [0.8, 'red']
                ]
            }
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
            });
            </script>
        </figure>
    </div>
</div>
<script>
  $(function () {
    $('#myTab li:last-child a').tab('show')
  })
</script>
<div th:insert="fragments/settings :: settings"></div>
</body>
</html>
